html {
    font-family: 'DM Sans', sans-serif;
    background-color: #d3d3d3;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #7ca7f8;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(19, 0, 105);
  }

p {
    color: #000000;
    width: 500px;
    /*border: 1px solid black;*/
  }
 
/*#segundo-paragrafo {
    color:#6A5ACD;
  }

.dog-diferente {
    color: 	#BC8F8F;
}
*/
img[src] {
    width: 500px;
    display: block;
    margin: 0 auto;
}

h2:hover {
    color:rgb(19, 0, 105);
    font-size: 30px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}
